.body-footer {
	background: color(footer-bg);
	color: color(copy-color);

	.wftda {
		@include clearfix;
		background-image: image('wftda-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding:2.3rem 1.6rem 2.5rem;

		.image {
			float: left;
			margin-right: (14/288) * 100%;
			width: (50/288) * 100%;
		}

		.text {
			color: color(wftda-color);
			float: right;
			font-weight: weight(light);
			width: (224/288) * 100%;
		}
	}

	.gsrd {
		color: color(gsrd);
		font-weight: weight(regular);
		text-transform: uppercase;
	}

	.copyright {
		font-size: 1.4rem;
		padding: 1.2rem 1.6rem;
		line-height: 1.5;

		@include respond-to(medium) {
			text-align: center;
		}

		p {
			margin: 0;

			@include respond-to(medium) {
				display: inline-block;
			}
		}
	}
}

.photo-credit {
	background: color(photo-credit);
	display: inline-block;
	font-size: 1.2rem;
	line-height: 3rem;
	padding: 0 1.6rem;

	@include respond-to(medium) {
		left: 0;
		position: absolute;
		top: 57px;
		z-index: 1;
	}
}

.footer-nav {
	display: none;
	line-height: 7rem;

	@include respond-to(medium) {
		display: block;
	}

	li {
		font-size: 2rem;
		text-align: center;
	}

	a {
		color: color(copy-color);
		text-decoration: none;
		text-transform: uppercase;
		line-height: 44px;
		border-left: 1px solid rgba(color(copy-color), 0.3);	
		padding-left: 10px;
	}
}