.body-footer {
	@include clearfix;
	background: color(footer-bg);
	color: color(copy-color);

	.wftda {
		@include clearfix;
		background-image: image('wftda-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding:2.3rem 1.6rem 2.5rem;

		@include respond-to(large) {
			float: left;
			width: 50%;
		}

		.image {
			float: left;
			margin-right: (14/288) * 100%;
			width: (50/288) * 100%;
		}

		.text {
			color: color(wftda-color);
			float: right;
			font-weight: weight(light);
			width: (224/288) * 100%;
		}
	}

	.gsrd {
		color: color(gsrd);
		font-weight: weight(regular);
		text-transform: uppercase;
	}

	.copyright {
		clear: both;
		font-size: 1.4rem;
		padding: 1.2rem 1.6rem;
		line-height: 1.5;

		@include respond-to(medium) {
			text-align: center;
		}

		p {
			margin: 0;

			@include respond-to(medium) {
				display: inline-block;
			}
		}
	}
}

.photo-credit {
	background: color(photo-credit);
	display: inline-block;
	font-size: 1.2rem;
	line-height: 3rem;
	padding: 0 1.6rem;

	@include respond-to(medium) {
		left: 0;
		position: absolute;
		top: 57px;
		z-index: 1;
	}

	@include respond-to(large) {
		top: 840px;
	}
}

.footer-nav {
	background: color(footer-nav-bg);
	display: none;
	line-height: 7rem;

	@include respond-to(medium) {
		display: block;
	}

	@include respond-to(large) {
		float: left;
		width: 50%;
		padding: 2rem 1.2rem 1rem;
	}

	li {
		font-size: 2rem;
		text-align: center;
		height: 54px;
	}

	a {
		color: color(copy-color);
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 44px;
		border-left: 1px solid rgba(color(copy-color), 0.3);	
		padding-left: 10px;
	}

	.menu {
		align-items: center;
		justify-content: flex-start;

		@include respond-to(large) {
			flex-flow: row wrap;
		}

		li {
			padding-right: 1rem;

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

/*
	========================================
		::Bruiseletter Section
	========================================
*/

.bruise-letter {
	background: image('bruiseletter-bg.jpg') top left no-repeat;
	background-size: 100%;
	border-top: 1px solid color(acc-border);

	@include respond-to(medium) {
		border: 0;
		background: image('bruiseletter-bg-lg.jpg') 40% no-repeat;
		background-size: cover;
	}

	@include respond-to(large) {
		float: right;
		width: 50%;
	}

	.accordion-title {
		background-color: rgba($black, 0.41);

		@include respond-to(medium) {
			background-color: transparent;
			border: 0;
			height: auto;
			font-size: 4rem;
			line-height: 7.5rem;

			i {
				display: none;
			}
		}
	}

	label:not(.custom) {
		display: inline-block;
		font-size: 1.9rem;
		font-weight: weight(light);
		line-height: 1.31;
		margin-left: 1rem;
		vertical-align: middle;

	}


	.email-field {
		border: 2px solid color(input-border);
		color: color(input-color);
		font-size: 3rem;
		font-weight: weight(light);
		height: 65px;
		line-height: 1.067;
		margin-top: 1.5rem;
		text-transform: uppercase;
		width: 80%;

		@include respond-to(medium) {
			text-align: center;
			width: 90%;
		}

		&:focus {
			box-shadow: none;
			outline: 0;
		}
	}

	.submit {
		color: color(copy-color);
		font-size: 3.5rem;
		line-height: 0.95;
		margin-left: 1rem;
		text-decoration: none;
		transition: color 0.2s ease;

		&:hover {
			color: color(send-hover);
		}

		@include respond-to(medium) {
			font-size: 5rem;
			line-height: 1;
		}
	}

	.accordion-content {
		padding: 1.2rem 2rem;

		p {
			display: none;

			@include respond-to(medium) {
				display: block;
				font-size: 1.9rem;
				line-height: 2.357rem;
				margin-bottom: 3rem;
			}
		}
	}
}