/*
	========================================
		::Masthead
	========================================
*/


.masthead {
	font-family: font(exo-thin);
	position: relative;
	z-index: z-index(masthead);

	.slide {
		top:0;
		left: 50%;
		transform: translateX(-50%);

	}

	.stats {
		position: absolute;
		text-transform: uppercase;
		top:94px;
		left: 10px;
		z-index: z-index(stats) + 50;

		div {
			background: color(stats-bg);
			color: color(copy-color);
			font-size: 22px;
			line-height: 48px;
			display: inline-block;
			padding:0 9px;

			span {
				font-size: 44px;
			}

			& + div {
				margin-top: 10px;
			}
		}
	}
}

/*
	========================================
		::Hompage Accordions
	========================================
*/

.accordion {
	
	color: color(copy-color);

	&-title {
		font-family: font(exo-regular);
		font-size:24px;
		position: relative;
		text-indent:21px;
		height:63px;
		line-height: 61px;
		text-transform: uppercase;
		cursor:pointer;
		border-bottom: 1px solid color(acc-title-border);

		i {
			font-size:23px;
			position: absolute;
			top:50%;
			right:17px;
			transform: translateY(-50%) rotateX(0deg);
			transition: transform 0.6s $ease-in-out-quart;
		}

		&.open {
			i {
				transform: translateY(-50%) rotateX(180deg);
			}
		}
	}

	&-content {
		display:none;
		padding: 15px 17px 15px 21px;

		&.open-on-init {
			display:block;
		}
	}
}

/*
	========================================
		::Homepage Tickets Section
	========================================
*/

@import "calendar";
.tickets {

	.accordion-content{
		padding:0;
		position: relative;

	}
}



.event-calendar {
	font-family: font(exo-thin);
	transform-style: preserve-3d;
	perspective: 800px;

	.fc-view-container {
		background: color(body-bg);
		transform-origin: 0 0;
	}

	&.fc {

		h2 {
			text-transform: uppercase;
		}

		.icon {
			font-size: 37px;
			padding:0;
		}

		.month-toggle {
			opacity:0;
			width:0;
			overflow:hidden;

			i {
				transform: rotateX(0deg);
				transition:transform 0.6s $ease-in-out-quart;
			}

			&.open {
				i {
					transform: rotateX(-180deg);
				}
			}
		}

		.fc-toolbar {
			@include clearfix;
			background: color(body-bg);
			border-bottom: 1px solid color(acc-border);
			overflow:hidden;
			height: 70px;
			line-height: 70px;
		}

		.fc-left {
			margin-left: 20px;
		}

		.fc-right {
			margin-right:20px;
		}

		.ui-button {
			background-color: transparent;
			color: color(calendar-button);
			border:none;
			height: 70px;

			.ui-icon {
				line-height: 70px;
			}

			&:focus {
				border: none;
				outline: none;
			}

			&.fc-prev-button {
				background-image: url(#{$svg-path}chevron-left.svg);
				fill: white;
			}
		}
		td, th {
			text-align: right;
			border:none;
			border-width:0px;
		}

		.fc-view {
			padding-right: 20px;
		}
	}

	.fc-center {
		a {
			color: color(calendar-title);
			text-decoration: none;
		}

		.icon {
			font-size: 30px;
		}
	}
}

.month-overlay {
	display:none;
	@include clearfix;
	padding:23px 20px;
	background: color(calendar-overlay);
	width: 100%;
	position: absolute;
	left: 0;
	top: 71px;
	z-index: 1;

	a {
		display:block;
		@include span(3);
		text-decoration: none;
		text-transform: uppercase;
		color: color(copy-color);
		font-size: 22px;
		line-height: 46px;
		padding:0 12px;
		background: transparent;

		&.active {
			background: color(active-month);
		}

		&:nth-child(4n) {
			@include span(last 3);
		}
	}
}

/*
	========================================
		::Homepage Bruiseletter Section
	========================================
*/

.bruise-letter {
	background: url(#{$common-path}bruiseletter-bg.jpg) top left no-repeat;
	background-size:100%;
	border-top: 1px solid color(acc-border);

	.accordion-title {
		background-color: rgba($black, 0.41);
	}

	label:not(.custom) {
		font-family: font(exo-light);
		font-size:19px;
		line-height:25px;
		margin-left:10px;

	}

	input {
		&[type=email] {
			font-family: font(exo-thin);
			color: color(input-color);
			text-transform: uppercase;
			font-size:30px;
			height:65px;
			width:80%;
			line-height: 32px;
			margin-top:15px;
			border: 2px solid color(input-border);

			&:focus {
				outline:none;
				box-shadow: none;
			}
		}
	}

	.submit {
		color: color(copy-color);
		text-decoration: none;
		font-size: 35px;
		line-height: 33px;
		margin-left: 15px;
	}

	.accordion-content {
		padding: 12px 20px;
	}


}

/*
	========================================
		::Custom SVG checkbox
	========================================
*/

.form-field {
	input[type=checkbox] {
		display:none;

		&:checked + label #checkmark {
			opacity:1;
			transition: opacity 0.2s ease-in;
		}
	}

	.custom {

		svg {
			display:inline-block;
			width:26px;
			height:26px;
			vertical-align: bottom;
		}

		#checkmark {
			opacity:0;
			transition: opacity 0.3s ease-out;
		}
	}
}
